/**
* Utility classes
*/
.col-padding {
  @include rem(padding, 0 20px);
}
.unstyled-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
/**
* Wordpress image alignment
*/
.alignright {
  float: none;
  @include desktop {
    float: right;
  }
}

.alignleft {
  float: none;
  @include desktop {
    float: left;
  }
}

.aligncenter {
  margin: 0 auto;
  max-width: 100%;
}
