/**
* Utility classes
*/
.col-padding {
  @include rem(padding, 0 20px);
  @include desktop {
    @include rem(padding, 0 30px);
  }
}

.hide {
  display: none;
}

/**
* Wordpress image alignment
*/
.alignright {
  float: none;
  @include desktop {
    float: right;
  }
}

.alignleft {
  float: none;
  @include desktop {
    float: left;
  }
}

.aligncenter {
  margin: 0 auto;
  max-width: 100%;
}
