/**
* Nicole Gallagher's media object
*/

.media {
    display:block;
}

.media__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    @media #{$medium-up} {
        float:left;
        margin-left: 0;
        margin-right:20px;
        margin-bottom: 0;
    }
}
/**
 * Reversed image location (right instead of left).
 */
.media__img--rev{
    @media #{$medium-up} {
        float:right;
        margin-left:20px;
    }
}

    .media__img img,
    .media__img--rev img{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

.media__body{
    overflow:hidden;
}
    .media__body,
    .media__body > :last-child{
        margin-bottom:0;
    }