<section class="section section--wysiwyg">
  <div class="row">
    <div class="col-padding column rte">
      {{ module.content_block }}
    </div>
  </div> <!--/.row -->
</section> <!-- /.section wysiwyg -->
