<script type="text/x-handlebars-template" data-name="toolbar">
    <div id="mapsvg-data-toolbar">
        <div class="row">
            <div class="mapsvg-toolbar-buttons col-xs-12">

                <table style="width: 100%">
                    <tr>
                        <!--<td style="width: 100%; padding-right: 5px;">-->
                            <!--<div class="input-group" style="width: 100%;">-->
                                <!--<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>-->
                                <!--<input id="mapsvg-data-search" onClick="this.select();" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2" autocomplete="off"/>-->
                            <!--</div>-->
                        <!--</td>-->
                        <td style="width: auto;">
                            <button  style="margin-right: 5px;" class="btn btn-default" title="Add floor" id="mapsvg-btn-floor-add"><i class="fa fa-plus"></i> Add floor</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" data-name="main">
    <div class="tab-content full-flex">
        <div class="tab-pane full-flex active" id="mapsvg-floors-list" data-controller="list">

        </div>
        <div class="tab-pane full-flex" id="mapsvg-floors-structure" data-controller="structure">

        </div>
        <div class="tab-pane full-flex" id="mapsvg-floors-settings" data-controller="settings">

        </div>
    </div>
</script>