<script type="text/x-handlebars-template" data-name="toolbar">
    <select class="mapsvg-select2" style="width: 100%;">
        <optgroup label="MapSVG">
            <option value="beforeLoad">beforeLoad</option>
            <option value="afterLoad" selected>afterLoad</option>
        </optgroup>
        <optgroup label="Database">
            <option value="databaseLoaded">databaseLoaded</option>
        </optgroup>
        <optgroup label="Region">
            <option value="click.region">click.region</option>
            <option value="mouseover.region">mouseover.region</option>
            <option value="mouseout.region">mouseout.region</option>
        </optgroup>
        <optgroup label="Marker">
            <option value="click.marker">click.marker</option>
            <option value="mouseover.marker">mouseover.marker</option>
            <option value="mouseout.marker">mouseout.marker</option>
        </optgroup>
        <optgroup label="Directory Item">
            <option value="click.directoryItem">click.directoryItem</option>
            <option value="mouseover.directoryItem">mouseover.directoryItem</option>
            <option value="mouseout.directoryItem">mouseout.directoryItem</option>
        </optgroup>
        <optgroup label="Details View">
            <option value="shown.detailsView">shown.details</option>
            <option value="closed.detailsView">closed.details</option>
        </optgroup>
        <optgroup label="Popover">
            <option value="shown.popover">shown.popover</option>
            <option value="closed.popover">closed.popover</option>
        </optgroup>
    </select>
</script>


<script type="text/x-handlebars-template" data-name="main">
    <div id="mapsvg-js-container" class=""></div>
</script>
