<script type="text/x-handlebars-template" data-name="toolbar">
    <div id="mapsvg-data-toolbar">
        <div class="row">
            <div class="col-xs-4">
                <ul class="nav nav-pills" id="mapsvg-regions-menu">
                    <li role="presentation" class="active"><a href="#mapsvg-regions-list" class="toggle-tooltip" title="List"><i class="fa fa-database"></i></a></li>
                    <li role="presentation"><a id="mapsvg-btn-regions-structure" href="#mapsvg-regions-structure" class="toggle-tooltip" title="Edit&nbsp;fields"><i class="fa fa-columns"></i></a></li>
                    <li role="presentation"><a id="mapsvg-btn-r-csv-import-1" href="#mapsvg-data-r-csv" class="toggle-tooltip" title="CSV import"><i class="fa fa-upload"></i></a></li>
                </ul>
            </div>
            <div class="mapsvg-toolbar-buttons col-xs-8">

                <table style="width: 100%">
                    <tr>
                        <td style="padding-right: 5px;">
                            <div class="input-group" style="width: 100%;">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                                <input id="mapsvg-regions-search" onClick="this.select();" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2" autocomplete="off"/>
                            </div>
                        </td>
                        <td style="width: 52px;">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle toggle-tooltip" title="View" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-eye"></i> <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right mapsvg-data-cols"></ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>        </div>
    </div>
</script>

<script type="text/x-handlebars-template" data-name="main">
    <div class="full-flex">
        <div class="tab-pane full-flex active" id="mapsvg-regions-list" data-controller="list"></div>
        <div class="tab-pane full-flex" id="mapsvg-regions-structure" data-controller="structure"></div>
        <div class="tab-pane full-flex" id="mapsvg-data-r-csv" data-controller="csv"></div>
    </div>
</script>