<script type="text/x-handlebars-template" data-name="toolbar">
    <select class="mapsvg-select2" style="width: 100%;">
        <optgroup label="Popovers">
            <option value="popoverRegion" selected>Region Popover</option>
            <option value="popoverMarker">DB Object (Marker) Popover</option>
        </optgroup>
        <optgroup label="Tooltips">
            <option value="tooltipRegion">Region Tooltip</option>
            <option value="tooltipMarker">DB Object (Marker) Tooltip</option>
        </optgroup>
        <optgroup label="Details view">
            <option value="detailsViewRegion">Region Details View</option>
            <option value="detailsView">DB Object (Marker) Details View</option>
        </optgroup>
        <optgroup label="Directory">
            <option value="directoryItem">Directory Item</option>
        </optgroup>
    </select>
</script>

<script type="text/x-handlebars-template" data-name="main">
    <div id="mapsvg-template-container" class=""></div>
</script>

