{% extends "index.twig" %}

{% block layout 'layout--single layout--404' %}


{% block content %}
<article class="page-content" role="article">
  <div class="row">
    <div class="col-padding column rte text-center">
      <h1 class="page-title">Oops.</h1>

      <div class="content-404">
        <p>Page not found. Maybe check out my dev playground over at <a href="http://codepen.io/lentilz/" target="_blank">Codepen</a> or my occasional writing on <a href="https://css-tricks.com/author/lentieward/" target="_blank">CSS-Tricks</a> instead!</p>
        <p><br><a href="/"><strong>BACK TO HOMEPAGE</strong></a></p>
      </div>
    </div> <!-- /.column -->
  </div> <!-- /.row -->
</article> <!-- /.page-content -->
{% endblock %}
