{% block html_head_container %}
  {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}} {% block layout %}layout--base{% endblock %}" data-template="base.twig">
  <header class="page-header">
    {% block page_header %}
    <h1 class="page-header__logo">
     {{ post.title }}
    </h1>
    {% endblock %}
  </header>
  <main role="main" class="main">
    {% block content %}
    <article class="page-content">
      <div class="row">
        <div class="col-padding">
          {{ post.content }}
        </div>
      </div>
    </article>
    {% endblock %}
  </main>

  {% block footer %}
  <footer role="footer" class="page-footer">
    {% include 'footer.twig' %}
  </footer>
  <hr>
  {% endblock %}

{{ function('wp_footer') }}
</body>
</html>
