{% block html_head_container %}
  {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  <header class="page-header">
    {% block page_header %}
    <h1 class="page-header__logo">
     <img src="/wp-content/themes/lentilz/assets/img/signature_tp.png" alt="Lentie Ward Signature graphic" title="Lentie Ward">
    </h1>
    {% endblock %}
  </header>
  <main role="main" class="{% block layout %}layout--main{% endblock %}">
    {% block content %}
    <article class="page-content">
      {{ post.content }}
    </article>
    {% endblock %}
  </main>

  {% block footer %}
  <footer role="footer">
    <a href="mailto:lentieward12@gmail.com" class="fa fa-envelope-o"></a> &nbsp;
    <a href="https://www.github.com/lentilz" target="_blank" class="fa fa-github"></a> &nbsp;
    <a href="http://codepen.io/lentilz/" target="_blank" class="fa fa-codepen"></a> &nbsp;
    <a href="https://www.linkedin.com/in/lentie-ward-13653946/" target="_blank" class="fa fa-linkedin"></a> &nbsp;
    <a href="https://www.instagram.com/guerrilla_fc/" class="fa fa-futbol-o" target="_blank"></a>
  </footer>
  {% endblock %}

{{ function('wp_footer') }}
</body>
