{% extends "base.twig" %}

{% block content %}
<main role="main">
  <section>
    <figure>
     <!-- <img src="../signature_tp.png" alt="Lentie Ward Signature graphic" title="Lentie Ward"> -->
    </figure>
    {# post.content #}
  </section>
</main>
{% endblock %}
