{% extends "index.twig" %}

{% block layout 'layout--single' %}

{% block head %}
<style>
  .featured-image {
    background-image: url('{{ post.get_thumbnail.src }}');
  }
</style>
{% endblock %}

{% block content %}
<article id="post-{{post.ID}}" class="page-content" role="article">
  <div class="row">
    <div class="col-padding column rte">
      <h1 class="page-title">{{post.title}}</h1>

      {% if post.get_thumbnail %}
      <div class="featured-image"></div> <!-- /.featured-image -->
      {% endif %}


      {{post.content}}
    </div> <!-- /.content -->
  </div> <!-- /.row -->
</article> <!-- /.page-content -->
{% endblock %}
