.unstyled-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.inline-list {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
  }
}

.swatches {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  @include rem(margin, 20px 0);
  width: 100%;
  @include desktop {
    @include rem(margin, 17px 0 30px 0);
  }
}
.swatch {
  @include rem(height, 14px);
  width: 100%;
  @include desktop {
    @include rem(height, 8px);
  }
}

.tags-label {
  background: lighten($black, 10%);
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-transform: capitalize;
}

.footer-links {
  @include rem(padding, 30px 20px);
  .footer-link-item {
    color: $white;
    font-size: 1.75rem;
    margin: 0 10px;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
