.flex-video {
  height: 0;
  @include rem(margin-bottom, 30px);
  padding-bottom: 54%;
  position: relative;
  overflow: hidden;
  @include desktop {
    @include rem(margin-bottom, 60px);
  }

  &.video--vimeo {
    padding-bottom: 57%;
  }

  iframe,
  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.featured-media {
  margin-left: auto;
  margin-right: auto;
  @include rem(max-width, 1000px);
  @include rem(margin-bottom, 40px);
  @include rem(margin-top, -55px);
  @include rem(padding, 0 10px);
  @include desktop {
    @include rem(margin-bottom, 60px);
    @include rem(margin-top, -75px);
  }

  img {
    display: block;
    margin: 0;
  }
}

.desktop-media {
  display: none;
  @include desktop {
    display: block;
  }
}
.mobile-media {
  display: block;
  @include desktop {
    display: none;
  }
}

figure {
  @include rem(margin, 0 0 20px 0);
  padding: 0;
  position: relative;
}
img {
  display: inline-block;
  max-width: 100%;
  width: auto;
}

.image-block {
  margin-top: 20px;
  // outline: solid thin crimson;
  text-align: center;
  @include desktop {
    align-items: center;
    display: flex;
    @include rem(margin, 40px);
  }
  // &.has-caption:nth-of-type(even) {
  //   img {
  //     @include desktop {
  //       order: 2;
  //     }
  //   }
  //   .image-block__caption {
  //     @include desktop {
  //       @include rem(margin-right, -100px);
  //       order: 1;
  //     }
  //   }
  // }

  img {
    margin: auto;
  }
}
.image-block__caption {
  @include rem(padding,  5px 10px 10px);

  @include desktop {
    background: $black;
    border-radius: 5px;
    color: $white;
    @include rem(margin-left, -100px);
    @include rem(min-width, 160px);
    @include rem(padding, 20px 10px);
  }
}

.browser {
  background: $black;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 10px rgba(black, 0.5);
  padding: 0;
  transition: all ease 250ms;
  width: 100%;
}

.browser-topbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  @include rem(padding, 10px 10px 5px);
  position: relative;
}

.browser-btn {
  background: $black;
  border: solid 1px $black;
  border-radius: 50%;
  height: 13px;
  display: none;
  margin: 0 3px;
  transition: 300ms background ease;
  width: 13px;

  @include desktop {
    display: inline-block;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:nth-of-type(1) {
    background: $red;
    border-color: darken($red, 20%);
  }
  &:nth-of-type(2) {
    background: $yellow;
    border-color: darken($yellow, 20%);
  }
  &:nth-of-type(3) {
    background: $green;
    border-color: darken($green, 20%);
  }
}

.address-bar {
  background: rgba(white, 0.9);
  border: solid thin $black;
  border-radius: 3px;
  flex-grow: 1;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 2px 8px;
  word-break: break-all;
  @include desktop {
    font-size: 14px;
    margin-left: 10px;
  }

  &_url {
    color: $black;
    text-decoration: none;
    vertical-align: middle;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
