// Page layout setup
.page-header {
  @include rem(padding, 20px);

  .home & {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    min-height: 75vh;
    text-align: center;
    @include desktop {
      min-height: 95vh;
    }
  }
}
.page-header__logo {
  max-width: 200px;
  margin: 0 auto;
}
.page-content {
  background: $white;
  min-height: 60vh;
  @include rem(padding-bottom, 20px);
  @include desktop {
    @include rem(padding-bottom, 40px);
  }

  .layout--interior & {
    padding-bottom: 0;
  }
}
.page-footer {
  background: $black;
  text-align: center;
}

.layout--interior {
  @include rem(padding-top, 60px);
}

.flex-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  width: 100%;
  @include desktop {
    width: 50%;
  }
}
.flex-reorder {
  @include desktop {
    order: 1;
  }
  &:nth-of-type {
    @include desktop {
      order: 2;
    }
  }
}
