// Page layout setup
.page-header {
  @include rem(padding, 20px);

  .home & {
    align-items: center;
    display: flex;
    min-height: 95vh;
    text-align: center;
  }
}
.page-header__logo {
  max-width: 200px;
  margin: 0 auto;
}
.page-content {
  background: $white;
  @include rem(padding-bottom, 20px);
  @include desktop {
    @include rem(padding-bottom, 60px);
  }
}
.page-footer {
  background: $black;
  text-align: center;
}

.layout--interior {
  @include rem(padding-top, 60px);
}

.flex-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  width: 100%;
  @include desktop {
    width: 50%;
  }
}
.flex-reorder {
  @include desktop {
    order: 1;
  }
  &:nth-of-type {
    @include desktop {
      order: 2;
    }
  }
}
